body {
    background-color:antiquewhite;
}

h1 {
    color:darkred;
    text-align: center;
}

img {
    width: 400px;
}

h2 {
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}