body, #hero > footer, #featured section {
    display: flex;
    align-items: center;
}

body {
    flex-direction: column;
    align-items: center;
}

#hero > footer {
    align-items: center;
    justify-content: space-between;
}